.Rproj.user
.Rhistory
.RData
.Ruserdata
maps/kc_tracts10_shore.gpkg-shm
maps/kc_tracts10_shore.gpkg-wal
maps/kc_tracts10.gpkg-wal
maps/kc_tracts10.gpkg-shm
maps/kc_house_data.gpkg-wal
maps/kc_house_data.gpkg-shm
maps/kc_house_data.gpkg
maps/kc_tracts10.gpkg
maps/kc_tracts10_shore.gpkg
